body {
  background-color: rgb(24, 152, 152);
  max-width: 100vw;
  margin: 0rem 3rem 0rem 3rem;
  position: relative;
}

h1 {
  font-size: 3em;
  font-family: 'Special Elite', system-ui;
  text-align: center;
}

main {
  font-family: 'Changa', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

nav {
  background-color: rgb(178, 230, 230);
  width: max-content;
  padding: 10px 30px;
  border-radius: 5%;
  position: relative;
}

h2 {
  font-family: 'Special Elite', system-ui;
}

.list {
  list-style: none;
  padding: 0px;
}

.mainText {
  padding-top: 0px;
  position: absolute;
  left: 300px;
  flex-grow: 1;
}

.paragraphHeader {
  font-family: 'Russo One', sans-serif;
  font-weight: 100;
}

p {
  line-height: 120%;
}

.footer {
  font-family: 'Special Elite', monospace;
  width: 100%;
  text-align: center;
  position: ;
}

/* @media only screen and (max-width: 750px) {
  main {
    display: block;
  }

  .mainText {
    width: 100%;
    flex: 750px;
  }
} */
